/* bodyと文字の決定 */
body{
    width: 1000px;
    margin: auto;
    text-align: center;
}

p{
    font-size: 20px;
    font-weight: bold;
}


/* ボタンの指定 */
button{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

#btn1,#btn2{
    width: 120px;
}

#btn3,#btn4,#btn5{
    width: 75px;
}

#btn6{
    width: 255px;
}

/* メイン画像の指定 */
#vs_me,#vs_you{
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

/* 写真の横並び */
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    display: flex;
    width: 150px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mejunkkenimg{
    object-fit: cover;
    width: 100px;
    height: 100px;
    align-self: start;
}
#youjunkkenimg{
    object-fit: cover;
    width: 100px;
    height: 100px;
    align-self: flex-end;
}